@color-divider: #888;
@color-button: #ff3e00;

body {
	line-height: 1.5;
	background-color: #fff;
	color: #111;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body, .pure-g, .pure-g [class*="pure-u"], input, button, textarea, select {
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace; 
}

a {
	color: #111;
	text-decoration: none;
}

.edit-mode {
	header a.done {
		.manage {
			display: none;
		}
		.d {
			display: inline;
		}
	}
}

.button-like() {
	border: 1px solid @color-button;
	background-color: #fff;
	color: @color-button;
	cursor: pointer;

	&:focus, &:hover {
		-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,34,238,1);
        -moz-box-shadow: inset 0px 0px 1px 1px rgba(0,34,238,1);
        box-shadow: inset 0px 0px 1px 1px rgba(0,34,238,1);
		background: #fff;
	}

	&:active, .picked & {
		background-color: @color-button;
		color: #fff;
	}

	&:disabled {
		border: 1px solid #888;
	}
}

.pure-button {
	padding: 0.5em 0.25em;
	.button-like();
}

header {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #fff;
	background-image: linear-gradient(20deg, #0f172a 0, #3b0764 100%);
	box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	padding: 0.5em 1em;
	.in-lobby & {
		a.done {
			display: none;
		}
	}
	a {
		color: @color-button;
		float: right;
		padding: 0.5em 0;
		cursor: pointer;
		span.d {
			display: none;
		}
	}
	.coffee {
		display: none;
	}
	.title {
		font-weight: bold;
		padding: 0.5em 0;
		font-size: 1.5rem;
		display: flex;
		gap: 1rem;
		align-items: center;
		flex-grow: 1;
	}
	.logo {
		height: 3rem;
		position: relative;
		top: -0.2rem;
	}
	.room-name {
		color: @color-button;
		cursor: pointer;
		font-size: 1rem;
	}

	@media screen and (min-width: 64em) {
		.done {
			display: none;
		}
		.coffee {
			display: block;

		}
	}
}