section.entry {
	padding: 1em;
	text-align: center;
	input {
		max-width: 35em;
		width: 100%;
		margin-bottom: 0.5em;
		text-align: center;
		border: 1px solid #ccc;
		padding: 0.5em;
	}
	p.info {
		max-width: 35em;
		margin: 0 auto;
		text-align: left;
		margin-bottom: 1em;
	}

	p.info.large {
		display: none;
	}

	@media screen and (min-width: 64em) {
		p.info.small {
			display: none;
		}
		p.info.large {
			display: block;
		}
	}
	button {
		margin: 0.5em;
	}
	.status-msg {
		text-align: center;
		margin: 1em 0;
	}

	.in-room & {
		display: none;
	}
}