section.users {
	div.user {
		position: relative;
		padding: 0.5em 1em;
		border-bottom: 1px solid @color-divider;

		&.observer {
			background-color: #eee;
			.name .un {
				font-style: italic;
			}
		}

		.edit-mode & .name {
			padding-left: 0.5em;
		}

		.run-mode & .obs-status,
		&.normal .name .un i,
		.edit-mode & .name .un i {
			display: none;
		}

		.have-voted & .ready-indicator,
		&.not-ready .ready-indicator,
		.not-voted & .choice {
			display: none;
		}

		.name .un i {
			padding-right: 0.5em;
		}

		.obs-status {
			border-radius: 2px;
			padding: 0.5em;
			display: inline-block;
			line-height: normal;
			text-align: center;
			.button-like();
		}
		
		.status {
			text-align: right;
			.edit-mode & {
				padding-right: 1em;
			}
		}
		&.vote-most .status {
			color: #0a0;
		}
		&.vote-pass .status {
			color: #888;
		}

		.choice {
			font-weight: bold;
		}
		.name {
			.edit-mode & {
				width: 50%;
			}
		}
		.edit-mode & .status {
			width: 12.5%;
		}

		.name .un, .status {
			line-height: normal;
			padding: 0.5em 0;
			display: inline-block;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
		}

		.run-mode & .name input, .edit-mode &.not-me .name input {
			display: none;
		}

		.name input {
			padding: 0.5em;
			border: 1px solid #ccc;
			width: 100%;
		}

		.edit-mode &.is-me .name .un {
			display: none;
		}

		.delete {
			button {
				background-color: #d11;
				color: #fff;
				width: 100%;
				border: 1px solid #d11;
				&:hover, &:focus, &:active {
					background-color: #d11;
					color: #fff;
					-webkit-box-shadow: none;
                    -moz-box-shadow: none;
        			box-shadow: none;
				}
			}
			.run-mode & {
				display: none;
			}
		}

		@media screen and (min-width: 64em) {
			border: 4px dotted #ccc;
			border-radius: 8px;
			text-align: center;

			&:hover, &.selected {
				background-color: #ddd;
				.obs-status, .delete {
					display: block;
					.edit-mode & {
						display: block;
					}
				}
				.status {
					visibility: hidden;
				}
			}

			&.is-ready {
				border: 4px solid @color-divider;
			}

			.name, .status, .edit-mode & .status {
				width: 100%;
			}

			.name {
				font-size: 1.25em;
				input {
					text-align: center;
					width: 80%;
				}
			}

			.edit-mode & .name {
				padding-left: 0;
				width: 100%;
			}

			.obs-status, .delete {
				position: absolute;
				width: 80%;
				left: 10%;
			}

			.obs-status {
				bottom: 4em;
				.edit-mode & {
					display: none;
				}
			}

			.delete {
				bottom: 1em;

				.edit-mode & {
					display: none;
				}
			}

			.status {
				text-align: center;
				font-size: 3em;
				.edit-mode & {
					padding-right: 0;
				}
				&:after {
					content: "\200B";
				}
			}

			&.vote-most {
				background-color: #dfd;
				border-color: #0a0;
			}
		}
	}

	@media screen and (min-width: 64em) {
		padding: 0.5em;

		.uwrap {
			width: 20%;
			display: inline-block;
			padding: 0.5em;
		}
	}
}

section {
	.btn-wrap {
		padding: 0.5em;
	}
}

section.vote {
	padding: 0.5em;
	button {
		width: 100%;
		font-size: 2em;
	}
	.in-lobby &, .have-voted & {
		display: none;
	}
}

section.commands {
	text-align: center;
	button {
		padding: 0.75em 1.5em;
		margin-top: 1em;
	}
	.not-voted & {
		display: none;
	}
}

section.overlay {
	.no-qr & {
		display: none;
	}
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	z-index: 100;
	text-align: center;

	.modal {
		text-align: center;
		padding: 1em;
		img {
			max-width: 100%;
		}
		z-index: 110;
		background-color: #fff;

		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@media screen and (min-width: 64em) {
		.modal {
			margin: 2em;
			position: relative;
			display: inline-block;
			width: 50%;
			height: auto;
		}
	}
}