section.users {
	div.user {
		position: relative;
		padding: 0.5em 1em;
		border-bottom: 1px solid @color-divider;

		&.observer {
			background-color: #eee;
			.name .un {
				font-style: italic;
			}
		}

		.edit-mode & .name {
			padding-left: 0.5em;
		}

		.run-mode & .obs-status,
		&.normal .name .un i,
		.edit-mode & .name .un i {
			display: none;
		}

		.name .un i {
			padding-right: 0.5em;
		}

		.edit-mode & .obs-status {
			border-radius: 2px;
			padding: 0.5em;
			display: inline-block;
			line-height: normal;
			text-align: center;
			.button-like();
		}
		
		.status {
			text-align: right;
			.edit-mode & {
				padding-right: 1em;
			}
		}
		.choice {
			font-weight: bold;
		}
		.name {
			.edit-mode & {
				width: 50%;
			}
		}
		.edit-mode & .status {
			width: 12.5%;
		}

		.name .un, .obs-status, .status {
			line-height: normal;
			padding: 0.5em 0;
			display: inline-block;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
		}

		.run-mode & .name input, .edit-mode &.not-me .name input {
			display: none;
		}

		.name input {
			padding: 0.5em;
			border: 1px solid #ccc;
			width: 100%;
		}

		.edit-mode &.is-me .name .un {
			display: none;
		}

		.delete {
			button {
				background-color: #d11;
				color: #fff;
				width: 100%;
				border: 0;
				&:hover, &:focus, &:active {
					background-color: #d11;
					color: #fff;
					border: 0;
					-webkit-box-shadow: none;
                    -moz-box-shadow: none;
        			box-shadow: none;
				}
			}
			.run-mode & {
				display: none;
			}
		}
	}
}

section {
	.btn-wrap {
		padding: 0.5em;
	}
}

section.vote {
	padding: 0.5em;
	button {
		width: 100%;
		font-size: 2em;
	}
}

section.commands {
	text-align: center;
	button {
		padding: 0.75em 1.5em;
		margin-top: 1em;
	}
}